@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kongtext";
  src: url("/fonts/kongtext.regular.TTF");
}

html {
  overflow-x: hidden;
}

body {
  background-color: black;
  overflow-x: hidden;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  color: white;
  font-family: "Kongtext";
}

.logo {
  width: 800px;
  z-index: 10;
}

.navbar {
  background-color: rgb(233, 237, 230);
}

.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}

/* The container for the scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

/* The thumb, or handle, of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(162, 190, 141);
  border-radius: 10px;
}

/* The track, or area, surrounding the thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  max-width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_477015592b6f4dc6a84de19f00f367c9~mv2.png")
    repeat-x;
  background-size: 50% 35vh;
  animation: scroll-anim 15s linear infinite;
}

.container::before {
  content: "";
  width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_751b3138fd74447c880559420b9e59a6~mv2.png")
    repeat-x;
  background-size: 50% 45vh;
  animation: scroll-anim 14s linear infinite;
}

.container::after {
  content: "";
  width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_3d8fa29fe9b4476fa76cf653c1401c93~mv2.png")
    repeat-x;
  background-size: 50% 100vh;
  animation: scroll-anim 2s linear infinite;
}

.middle {
  width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_141307ef41b84bd98ddc6cab7fe1700c~mv2.png")
    repeat-x;
  background-size: 50% 65vh;
  animation: scroll-anim 8s linear infinite;
}

.middle:before {
  content: "";
  width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_877403bfe8d140e4909824ff208ab68b~mv2.png")
    repeat-x;
  background-size: 50% 80vh;
  animation: scroll-anim 6s linear infinite;
}

.middle::after {
  content: "";
  width: 100%;
  height: 89.8vh;
  position: absolute;
  background: url("https://static.wixstatic.com/media/a67ef4_8dda86590ee64da99379c2065e677955~mv2.png")
    repeat-x;
  background-size: 50% 120vh;
  animation: scroll-anim 4s linear infinite;
}

@keyframes scroll-anim {
  100% {
    background-position: -100% 0;
  }
}

.first-display {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.second-display {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.first-display:not(.second-display) {
  opacity: 0;
}

.second-display:not(.first-display) {
  opacity: 1;
}

.fade {
  transition: opacity 0.5s ease-in-out;
}

.box {
  height: 0px;
  width: 500px;
  overflow: hidden;
  margin-top: -30px;
  transition: height 0.5s ease;
  z-index: -10;
  border-radius: 24px;
}

@media (max-width: 1210px) {
  .box {
    width: 450px;
  }
}

@media (max-width: 600px) {
  .box {
    width: 400px;
  }
}

@media (max-width: 455px) {
  .box {
    width: 350px;
  }
}

.box.expanded {
  height: 650px;
  z-index: -10;
}

@media (max-width: 600px) {
  .box.expanded {
    height: 675px;
  }
}

@media (max-width: 455px) {
  .box.expanded {
    height: 720px;
  }
}

.box.collapsed {
  height: 0px;
  z-index: -10;
}

@media (max-width: 1210px) {
  .description {
    margin-left: -225px;
  }
}

@media (max-width: 600px) {
  .description {
    width: 370px;
    margin-left: -195px;
  }
}

@media (max-width: 455px) {
  .description {
    width: 300px;
    margin-left: -180px;
  }
}

@media (max-width: 455px) {
  .gulo {
    width: 288px;
  }
}

@media (max-width: 455px) {
  .borderLiane {
    height: 330px;
    width: 300px;
  }
}

.background {
  -webkit-background-size: 100px 100px;
}